@import "./responsive.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f8ff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.layout {
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;

  @include lg {
    background-color: rgb(255, 0, 0);
  }

  @include md {
    background-color: rgb(34, 255, 0);
  }

  @include sm {
    background-color: yellow;
  }
}
