.sidebar {
  width: 200px;
  background-color: #333333;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100%;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
  color: #ffffff;
  cursor: pointer;
}

.sidebar nav ul li:hover {
  color: #4caf50;
  font-weight: bold;
}
