.navbar {
  background-color: #f0f8ff; // Subtle light blue background
  height: 75px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .logo {
      display: flex;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out; // Smooth hover effect

        &:hover {
          transform: scale(1.1); // Slightly enlarges the logo on hover
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none; // Removes default bullet points

      li {
        margin: 0 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: #333; // Dark gray text color
        position: relative;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #007bff; // Changes text color on hover

          &::after {
            width: 100%; // Expands underline on hover
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          background-color: #007bff; // Blue underline effect
          transition: width 0.3s ease-in-out;
        }
      }
    }
  }
}
